<a href="https://colab.research.google.com/github/luuvu1396/DA_CODEgym/blob/main/%5BTh%E1%BB%B1c_h%C3%A0nh%5D_T%C3%A1ch_d%E1%BB%AF_li%E1%BB%87u_c%E1%BB%A7a_m%E1%BB%99t_c%E1%BB%99t_th%C3%A0nh_nhi%E1%BB%81u_c%E1%BB%99t.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/shopeep_koreantop_clothing_shop_data.csv')
df.head()

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0

In [2]:
# Để đơn giản ta thực hiện lọc tập dữ liệu ban đầu theo các thuộc tính sau
df = df[['date_collected','shop_location','response_time']]
df

    date_collected               shop_location response_time
0       2021-06-13                         NaN      10:13:55
1       2021-06-13    San Nicolas,Metro Manila      10:43:05
2       2021-06-13     Pasay City,Metro Manila      08:32:07
3       2021-06-13        Binondo,Metro Manila      09:10:38
4       2021-06-13  Caloocan City,Metro Manila      11:40:59
..             ...                         ...           ...
741     2021-07-06          Legazpi City,Albay      08:45:30
742     2021-07-06                         NaN      08:01:23
743     2021-07-06                         NaN      08:46:30
744     2021-07-06        Binondo,Metro Manila      12:19:44
745     2021-07-06     Pasay City,Metro Manila      10:02:42

[746 rows x 3 columns]

In [4]:
# 2. Tách cột dữ liệu có kiểu chuỗi
# Ta có thể sử dụng các phép toán tách chuỗi split
# Hàm str.split(‘Ký tự phân cách’) có tác dụng tách chuỗi ban đầu (Series.str.split(pat=None, *, n=- 1, expand=False, regex=None))
# str thành các chuỗi con được ngăn cách nhau bởi ký tự phân cách

# Tách cột shop_location thành 2 cột District và City


df['District']=df['shop_location'].str.split(',').str[0]
# df['District'] => tạo cột
# df['shop_location'] => lấy dữ liệu từ cột shop_location
# str.split(',') => tách dữ liệu ngăn cách bởi dấu phẩy
# str[0] => lấy giá trị của index đầu tiên
df['City']=df['shop_location'].str.split(',').str[1]
df

,date_collected,shop_location,response_time,District,City
0,2021-06-13,NaN,10:13:55,NaN,NaN
1,2021-06-13,"San Nicolas,Metro Manila",10:43:05,San Nicolas,Metro Manila
2,2021-06-13,"Pasay City,Metro Manila",08:32:07,Pasay City,Metro Manila
3,2021-06-13,"Binondo,Metro Manila",09:10:38,Binondo,Metro Manila
4,2021-06-13,"Caloocan City,Metro Manila",11:40:59,Caloocan City,Metro Manila
...,...,...,...,...,...
741,2021-07-06,"Legazpi City,Albay",08:45:30,Legazpi City,Albay
742,2021-07-06,NaN,08:01:23,NaN,NaN
743,2021-07-06,NaN,08:46:30,NaN,NaN
744,2021-07-06,"Binondo,Metro Manila",12:19:44,Binondo,Metro Manila
745,2021-07-06,"Pasay City,Metro Manila",10:02:42,Pasay City,Metro Manila

In [8]:
# 3. Tách cột dữ liệu có kiểu ngày tháng
# Tách cột date_collected thành 3 cột Day, Month, Year
# pd.to_datetime(your_date_data, format="Your_datetime_format")
# Series.dt.day
df['Day']=pd.to_datetime(df['date_collected'],format='%Y-%m-%d').dt.day
# df['Day'] => tạo cột ngày
# pd.to_datetime(df['date_collected'],format='%Y-%m-%d') => định dạng datime
# .dt.day => lấy giá trị ngày
df['Month']=pd.to_datetime(df['date_collected'],format='%Y-%m-%d').dt.month
df['Year']=pd.to_datetime(df['date_collected'],format='%Y-%m-%d').dt.year
df

,date_collected,shop_location,response_time,District,City,Day,Month,Year
0,2021-06-13,NaN,10:13:55,NaN,NaN,13,6,2021
1,2021-06-13,"San Nicolas,Metro Manila",10:43:05,San Nicolas,Metro Manila,13,6,2021
2,2021-06-13,"Pasay City,Metro Manila",08:32:07,Pasay City,Metro Manila,13,6,2021
3,2021-06-13,"Binondo,Metro Manila",09:10:38,Binondo,Metro Manila,13,6,2021
4,2021-06-13,"Caloocan City,Metro Manila",11:40:59,Caloocan City,Metro Manila,13,6,2021
...,...,...,...,...,...,...,...,...
741,2021-07-06,"Legazpi City,Albay",08:45:30,Legazpi City,Albay,6,7,2021
742,2021-07-06,NaN,08:01:23,NaN,NaN,6,7,2021
743,2021-07-06,NaN,08:46:30,NaN,NaN,6,7,2021
744,2021-07-06,"Binondo,Metro Manila",12:19:44,Binondo,Metro Manila,6,7,2021
745,2021-07-06,"Pasay City,Metro Manila",10:02:42,Pasay City,Metro Manila,6,7,2021

In [13]:
# 4. Tách cột dữ liệu có kiểu thời gian
# Tách cột response_time thành 3 cột Hour, Minute, Second

df['Hour']=pd.to_datetime(df['response_time'],format=' %H:%M:%S').dt.hour
df['Minute']=pd.to_datetime(df['response_time'],format=' %H:%M:%S').dt.minute
df['Second']=pd.to_datetime(df['response_time'],format=' %H:%M:%S').dt.second
df

,date_collected,shop_location,response_time,District,City,Day,Month,Year,Hour,Minute,Second
0,2021-06-13,NaN,10:13:55,NaN,NaN,13,6,2021,10,13,55
1,2021-06-13,"San Nicolas,Metro Manila",10:43:05,San Nicolas,Metro Manila,13,6,2021,10,43,5
2,2021-06-13,"Pasay City,Metro Manila",08:32:07,Pasay City,Metro Manila,13,6,2021,8,32,7
3,2021-06-13,"Binondo,Metro Manila",09:10:38,Binondo,Metro Manila,13,6,2021,9,10,38
4,2021-06-13,"Caloocan City,Metro Manila",11:40:59,Caloocan City,Metro Manila,13,6,2021,11,40,59
...,...,...,...,...,...,...,...,...,...,...,...
741,2021-07-06,"Legazpi City,Albay",08:45:30,Legazpi City,Albay,6,7,2021,8,45,30
742,2021-07-06,NaN,08:01:23,NaN,NaN,6,7,2021,8,1,23
743,2021-07-06,NaN,08:46:30,NaN,NaN,6,7,2021,8,46,30
744,2021-07-06,"Binondo,Metro Manila",12:19:44,Binondo,Metro Manila,6,7,2021,12,19,44
745,2021-07-06,"Pasay City,Metro Manila",10:02:42,Pasay City,Metro Manila,6,7,2021,10,2,42